<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       
    </head>
    <body>
        <h1> Demande de {{ seller.fullName }}</h1>
        
        <p> Email: {{ seller.email }} </p>
        <p> subject: {{ seller.subject }} </p>
        <p> Message: {{ seller.subject }} </p>
        <div> 
        {{ seller.subject | raw}}
        </div>
    </body>
</html>
